div {
    text-align: middle;
}
form {
    background-color: rgb(172, 174, 222);
    display: inline-block;
    padding: 23px 50px;
    text-align: center;
    min-width: 300px;
    height: max-content;
}

form input {
    margin-bottom: 13px;
    line-height: 25px;
}

form label {
    font-size: large;
    font-weight: bold;
    margin-right: 20px;

}


button {
    align-items: center;
    background-color: black;
    font-size: 22px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-width: 0px;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
    
}

button:hover {
    background-color: rgb(68, 65, 136);    
}

