.suggestionTitle {
  margin-top: 15vh;
  color: white ;
  font-weight: bolder;
  font-size: 7vw;
  background-color: rgba(78, 76, 126, 0.838);
  border-radius: 10px;
}

.suggestionDiv {
  margin: 10vh;
}