h2 {
    font-size: x-large;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 5px 20px;
    color: white;
    margin: -10px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-flex;
    justify-content: center;
}
/* anchor element */
nav a {
    text-decoration: none;
    padding: 5px 10px;
    font-size: larger;
    font-weight: bold;
    color: white;
}

.bruinBuddiesIcon {
    margin-left: -20px;
    font-size: xx-large;
}